html {
    scroll-behavior: smooth; /* still use JS for exact offset handling */
}
/* Active menu link */
#site-menu a.active {
    color: #ffbd14;
}
.sales-box {
    background-image: url(tmp/sample-sales-background.jpg);
}
.question {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
}

.question.active::after {
    transform: rotate(45deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}

.question.active + .answercont {
}

.home .cs-section {
    padding-bottom: 2rem
}

@media (min-width: 768px) {
    .home .cs-section {
        padding-bottom:3rem
    }
}

@media (min-width: 992px) {
    .home .cs-section {
        padding-bottom:4rem
    }
}

@media (min-width: 1200px) {
    .home .cs-section {
        padding-bottom:5rem
    }
}

.home .cs-section h2 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

@media screen and (max-width: 790px){
    html {
        font-size: 14px;
    }
    .wrapper {
        width: 80%;
    }
}


/*testimonial*/

.section-padding {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-borders span {
    height: 5px;
    background: #f17a24;
    width: 40px;
    display: inline-block;
    border-radius: 2px;
}

.section-borders span.black-border {
    background: #333;
    width: 30px;
    margin: 0 6px;

}

.client-testimonial-carousel .owl-dots button {
    height: 5px;
    background: #f17a24 !important;
    width: 20px;
    display: inline-block;
    margin: 5px;
    transition: .2s;
    border-radius: 2px;
}

.client-testimonial-carousel button.owl-dot.active {
    background: #FFFFFF !important;
    width: 30px;
}

.client-testimonial-carousel .owl-dots {
    text-align: center;
    margin-top: 25px
}

.single-testimonial-item {
    position: relative;
    box-shadow: 0 0 2px #dadfd3;
    margin: 2px;
    padding: 20px;
    font-style: italic;
    padding-left: 85px;
}

.single-testimonial-item:before {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 20px;
    color: #f17a24;
    line-height: 30px;
    margin-top: -15px;
}

.single-testimonial-item:after {
    background: #ddd;
    content: "";
    height: 70%;
    left: 60px;
    position: absolute;
    top: 10%;
    width: 1px;
}

.single-testimonial-item h3 {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 0;
}

.single-testimonial-item h3 span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}



/*widget*/
/* CSS Multiple Whatsapp Chat */
.blantershow-chat:link,
.blantershow-chat:visited {
    color: #444;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.no-scroll {
    overflow: hidden; /* hides scrollbars */
    resize: none;     /* optional: disables manual resizing */
}
.whatsapp-name {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.5;
}

#whatsapp-chat {
    box-sizing: border-box !important;

    outline: none !important;
    position: fixed;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    bottom: 90px;
    right: 30px;
    overflow: hidden;
    z-index: 99;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
}
a.blantershow-chat {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 98;
    bottom: 25px;
    right: 30px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}
a.blantershow-chat svg {
    transform: scale(1.2);
    margin: 0 10px 0 0;
}
.header-chat {
    /*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
    background: #009688;
    background: #095e54;
    color: #fff;
    padding: 20px;
}
.header-chat h3 {
    margin: 0 0 10px;
}
.header-chat p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}
.info-avatar {
    position: relative;
}
.info-avatar img {
    border-radius: 100%;
    width: 50px;
    float: left;
    margin: 0 10px 0 0;
}

a.informasi {
    padding: 20px;
    display: block;
    overflow: hidden;
    animation-name: showhide;
    animation-duration: 0.5s;
}
a.informasi:hover {
    background: #f1f1f1;
}
.info-chat span {
    display: block;
}
#get-label,
span.chat-label {
    font-size: 12px;
    color: #888;
}
#get-nama,
span.chat-nama {
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: 700;
    color: #222;
}
#get-label,
#get-nama {
    color: #fff;
}
span.my-number {
    display: none;
}
 .blanter-msg {
  color: #444;
 background-color: #ffffff;
  padding: 10px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
}
textarea#chat-input {
    border: none;
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 20px;
    outline: none;
    resize: none;
    margin-top: 10px;
    font-size: 14px;
}

a#send-it {
    width: 40px;
    font-weight: 700;
    padding: 5px 11px;
    background: #eee;
    border-radius: 10px;

    svg {
        fill: #a6a6a6;
        height: 24px;
        width: 24px;
    }
}

.first-msg {
    background: transparent;
    padding: 30px;
    text-align: center;
    & span {
        background: #e2e2e2;
        color: #333;
        font-size: 14.2px;
        line-height: 1.7;
        border-radius: 10px;
        padding: 15px 20px;
        display: inline-block;
    }
}

.start-chat .blanter-msg {
    display: flex;
}
#get-number {
    display: none;
}
a.close-chat {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #fff;
    font-size: 30px;
}

@keyframes ZpjSY {
    0% {
        background-color: rgb(182, 181, 186);
    }
    15% {
        background-color: rgb(17, 17, 17);
    }
    25% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes hPhMsj {
    15% {
        background-color: rgb(182, 181, 186);
    }
    25% {
        background-color: rgb(17, 17, 17);
    }
    35% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes iUMejp {
    25% {
        background-color: rgb(182, 181, 186);
    }
    35% {
        background-color: rgb(17, 17, 17);
    }
    45% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes showhide {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
}
@keyframes showchat {
    from {
        transform: scale(0);
        opacity: 0;
    }
}
@media screen and (max-width: 480px) {
    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
}
.hide {
    display: none;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}
.show {
    display: block;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

.whatsapp-message-container {
    display: flex;
    z-index: 1;
}

.whatsapp-message {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
    padding: 20px 20px 20px 10px;
    background-color: rgb(230, 221, 212);
    position: relative;
    &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.08;
        background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
    // background-image: url(https://res.cloudinary.com/eventbree/image/upload/v1575782560/Widgets/whatsappbg_opt.jpg);
    }
}

.dAbFpq {
    display: flex;
    z-index: 1;
}

.eJJEeC {
    background-color: rgb(255, 255, 255);
    width: 52.5px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.1s ease 0s;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
    position: relative;
    display: flex;
}

.ixsrax {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    background-color: rgb(158, 157, 162);
    animation-name: ZpjSY;
}

.dRvxoz {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    background-color: rgb(182, 181, 186);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    animation-name: hPhMsj;
}

.kAZgZq {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
    &::before {
        position: absolute;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        top: 0px;
        left: -12px;
        width: 12px;
        height: 19px;
    }
}

.bMIBDo {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.cqCDVm {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(17, 17, 17, 0.5);
    margin-right: -8px;
    margin-bottom: -4px;
}
